<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
	<mapper namespace="BookmarkMapper">


	<resultMap id="bookmarkSelectMap" type="com.teulda.service.domain.Bookmark">
		<result property="bookmarkNo"				column="bookmark_id"			jdbcType="NUMERIC" />
		<result property="diaryNo"					column="diary_id"				jdbcType="NUMERIC" />
		<result property="nickname"					column="nickname"				jdbcType="VARCHAR" />
		<result property="bookmarkDate"				column="bookmark_date"			jdbcType="DATE" />
	</resultMap>
	
	
	
	<insert	id="addBookmark"	parameterType="bookmark">
		INSERT
		INTO BOOKMARK (bookmark_id, diary_id, nickname, bookmark_date)
		VALUES	(seq_bookmark_bookmark_id.nextval, #{diaryNo}, #{nickname:VARCHAR}, SYSDATE)
	</insert> 
	
	<delete id="deleteBookmark"	parameterType="int">
	 	DELETE
	 	FROM BOOKMARK
	 	WHERE bookmark_id = #{bookmarkNo}
	</delete>
	
	<select  id="getBookmarkList"  parameterType="map"	resultMap="bookmarkSelectMap">
	
	SELECT * 
	FROM 	(select inner_table.*, rownum as row_seq
        	from    (SELECT   bookmark_id, diary_id, nickname, bookmark_date
                	FROM BOOKMARK
			<where>
				nickname = #{nickname}
					<if test="search.searchCondition != null"> <!-- 검색조건을 선택했을 때 그 조건에 적합한 데이터만 -->
                			<choose>
                			<when test="search.searchCondition eq '0'.toString() and search.searchKeyword !='' "> <!-- 검색조건 : 제목 -->
                				AND nickname like '%'||#{search.searchKeyword}||'%'
                				</when>
                				<when test="search.searchCondition eq '1'.toString() and search.searchKeyword !='' "> <!-- 검색조건 : 내용 -->
                				AND title like '%'||#{search.searchKeyword}||'%'
                				</when>
                				<when test="search.searchCondition eq '2'.toString() and search.searchKeyword !='' "> <!-- 검색조건 : 장소 -->
                				AND content like '%'||#{search.searchKeyword}||'%'
                				</when>
                			</choose>
                		</if>
              </where>
        			ORDER BY bookmark_date DESC	
        			) inner_table
      		WHERE ROWNUM &lt; = #{search.endRowNum} )
	WHERE row_seq between #{search.startRowNum} and #{search.endRowNum}
	
	
	<!-- 
		SELECT * 
		FROM BOOKMARK
		
		ORDER BY bookmark_id DESC -->
	</select>
	
	<select  id="getBookmarkTotalCount"  parameterType="search"	 resultType="int">
		SELECT COUNT(*)
		FROM (SELECT  bookmark_id, diary_id, nickname, bookmark_date
      		  FROM BOOKMARK
      		 <where>
				nickname = #{nickname}
					<if test="search.searchCondition != null"> <!-- 검색조건을 선택했을 때 그 조건에 적합한 데이터만 -->
                			<choose>
                			<when test="search.searchCondition eq '0'.toString() and search.searchKeyword !='' "> <!-- 검색조건 : 제목 -->
                				AND nickname like '%'||#{search.searchKeyword}||'%'
                				</when>
                				<when test="search.searchCondition eq '1'.toString() and search.searchKeyword !='' "> <!-- 검색조건 : 내용 -->
                				AND title like '%'||#{search.searchKeyword}||'%'
                				</when>
                				<when test="search.searchCondition eq '2'.toString() and search.searchKeyword !='' "> <!-- 검색조건 : 장소 -->
                				AND content like '%'||#{search.searchKeyword}||'%'
                				</when>
                			</choose>
                		</if>
              </where>
        			ORDER BY bookmark_date DESC	
      		  ) countTable 
	</select> 
	
	<select id="selectBookmarkNo" parameterType="map"  resultType="int">
	
		SELECT NVL(max(bookmark_id), 0)
        from BOOKMARK
        where nickname = #{nickname} and diary_id = #{diaryNo}
	
	</select>
	
	
	<select id="findBookmarkNo" parameterType="map"  resultType="int">
	
		SELECT bookmark_id
        from BOOKMARK
        where nickname = #{nickname} and diary_id = #{diaryNo}
	
	</select>
	
</mapper>
	