<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DiaryMapper">

	<resultMap id="diarySelectMap" type="com.teulda.service.domain.Diary">
		<result property="diaryNo"				column="diary_id"			jdbcType="NUMERIC" />
		<result property="title"				column="title"				jdbcType="VARCHAR" />
		<result property="location"				column="diary_addr"			jdbcType="VARCHAR" />
		<result property="latitude"				column="latitude"			jdbcType="NUMERIC" />
		<result property="longitude"			column="longitude"			jdbcType="NUMERIC" />
		<result property="writeDate"			column="diary_date"			jdbcType="DATE" />
		<result property="updateDate"			column="last_update_date"	jdbcType="DATE" />
		<result property="nickname"				column="origin_nick"		jdbcType="VARCHAR" />
		<result property="startDate"			column="start_date"			jdbcType="DATE" />
		<result property="endDate"				column="end_date"			jdbcType="DATE" />
		<result property="content"				column="content"			jdbcType="LONGVARCHAR" />
		<result property="thumbnail"			column="thumbnail"			jdbcType="VARCHAR" />
		<result property="viewCount"			column="view_count"			jdbcType="NUMERIC" />
		<result property="deleteDate"			column="delete_date"		jdbcType="DATE" />
		<result property="scrapNickname"		column="scrap_nick"			jdbcType="VARCHAR" />
		<result property="scrapDate"			column="scrap_date"			jdbcType="DATE" />
		<result property="groupNo"				column="group_id"			jdbcType="NUMERIC" />
		<result property="currency"				column="currency"			jdbcType="VARCHAR" />
		<result property="transBill"			column="trans_bill"			jdbcType="NUMERIC" />
		<result property="roomBill"				column="room_bill"			jdbcType="NUMERIC" />
		<result property="foodBill"				column="food_bill"			jdbcType="NUMERIC" />
		<result property="tourBill"				column="tour_bill"			jdbcType="NUMERIC" />
		<result property="shopBill"				column="shop_bill"			jdbcType="NUMERIC" />
		<result property="isPublic"				column="is_public"			jdbcType="CHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addDiary"		parameterType="diary">
	INSERT 
	INTO DIARY (diary_id, title, diary_addr, latitude, longitude, diary_date, 
				origin_nick, start_date, end_date, 
            	content, thumbnail, group_id,
            	currency, trans_bill, room_bill, 
            	food_bill, tour_bill, shop_bill, is_public)
            	
	VALUES 	(seq_diary_diary_id.nextval, #{title}, #{location}, #{latitude}, #{longitude}, SYSDATE, 
			#{nickname}, #{startDate}, #{endDate}, 
        	#{content:LONGVARCHAR}, #{thumbnail:VARCHAR},  (select group_id
                            								from groups	
                            								where nickname = #{nickname} and group_name = 'default2'),
        	#{currency:VARCHAR}, #{transBill:NUMERIC}, #{roomBill:NUMERIC}, 
        	#{foodBill:NUMERIC}, #{tourBill:NUMERIC}, #{shopBill:NUMERIC}, #{isPublic})
	</insert>
	
	<!-- SQL : SELECT ONE -->
	<select 	id="getDiary"	parameterType="int"	resultMap="diarySelectMap">
		SELECT * 
		FROM diary
		WHERE diary_id = ${diaryNo}
	</select>

</mapper>