<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PostMapper">


	<resultMap id="postSelectMap" type="com.teulda.service.domain.Post">
		<result property="postNo"					column="post_id"			jdbcType="NUMERIC" />
		<result property="postTitle"				column="title"				jdbcType="VARCHAR" />
		<result property="postContents"				column="content"			jdbcType="VARCHAR" />
		<result property="postDate"					column="post_date"			jdbcType="DATE" />
		<result property="viewCount"				column="view_count"			jdbcType="NUMERIC" />
		<result property="nickName"					column="nickname"			jdbcType="VARCHAR" />
		<result property="postCategory"				column="post_type"			jdbcType="CHAR" />
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert	id="addpost"	parameterType="com.teulda.service.domain.Post" >
		INSERT
		INTO	post(post_id, nickname, title, content, post_date, view_count, post_type)
		VALUES	(seq_post_post_id.NEXTVAL, #{nickname}, #{postTitle:VARCHAR}, #{postContents:VARCHAR}, SYSDATE, #{viewCount:NUMERIC},
				#{postCategory:CHAR})
	</insert>
	 
	<!-- SQL : SELECT ONE -->
	<select	id="getpost"	parameterType="int"	resultMap="postSelectMap">
		SELECT
		post_id, nickname, title, content, post_date, view_count, post_type
		FROM post
		WHERE post_id = #{value}
	</select>
	
	<!-- SQL : UPDATE -->
	<update	id="updatepost"	parameterType="com.teulda.service.domain.Post" >
		UPDATE transaction
	   	<set>
	   		<!-- payment_option 	= #{paymentOption},  -->
			receiver_name	= #{receiverName}, 
			receiver_phone 	= #{receiverPhone}, 
			demailaddr		= #{divyAddr}, 
			dlvy_request	= #{divyRequest}, 
			dlvy_date		= #{divyDate} 
		</set>
		WHERE tran_no = #{tranNo}
	</update>
	
	<!-- SQL : UPDATE TranCode -->
	<update	id="updateTranCode"	parameterType="map" >
		UPDATE transaction
	   	<set>
	   		tran_status_code	= #{tranCode}, 
		</set>
		WHERE tran_no = #{tranNo}
	</update>
	
	<!-- SQL : REMOVE -->
	<delete id="removepost"	parameterType="int">
	 	DELETE
	 	FROM transaction
	 	WHERE tran_no = #{value}
	</delete>
	
	<!-- SQL : SELECT post LIST -->
	<select	id="getpostList"	parameterType="map"	resultMap="postSelectMap">
		SELECT *
		FROM (SELECT inner_table.*, ROWNUM AS row_seq
	  			FROM	(SELECT tran_no, buyer_id, user_name, cell_phone, tran_status_code 
		  					FROM transaction, users 
							WHERE user_id = buyer_id 
							AND buyer_id = #{buyerId}
							ORDER BY tran_no DESC) inner_table	
				WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	</select>

	<!-- SQL : SELECT Sale LIST -->
	<select	id="getSaleList"	parameterType="com.teulda.common.Search"	resultMap="postSelectMap">
		SELECT *
		FROM	(SELECT inner_table.*, ROWNUM AS row_seq
	  				FROM(SELECT	p.prod_no, prod_name, prod_detail, manufacture_day, 
						price, image_file, reg_date, tran_no, tran_status_code 
						FROM product p, transaction t
						<where>
						p.prod_no = t.prod_no
						<if test="searchCondition != null">
							<choose>
								<when test="searchCondition == 0 and searchKeyword !='' ">
									AND p.prod_no LIKE '%'||#{searchKeyword}||'%'
								</when>
								<when test="searchCondition == 1 and searchKeyword !='' ">
					 				AND LOWER(p.prod_name) LIKE '%'||#{searchKeyword}||'%'
								</when>
								<when test="searchCondition == 2 and searchKeyword !='' ">
					 				AND p.price LIKE '%'||#{searchKeyword}||'%'
								</when>
							</choose>
						</if>
						</where>
						ORDER BY tran_no DESC) inner_table
				WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	</select>
	
	<!-- SQL : SELECT post ROW Count -->
	<select	id="getpostTotalCount"	parameterType="map"	resultType="int">
	  	SELECT COUNT(*)
	  	FROM	(SELECT tran_no, buyer_id, user_name, cell_phone, tran_status_code 
						FROM transaction, users 
						<where>
						user_id = buyer_id 
						AND buyer_id = #{buyerId}
						<if test="searchCondition != null">
							<choose>
								<when test="searchCondition == 0 and searchKeyword !='' ">
									AND prod_no LIKE '%'||#{search.searchKeyword}||'%'
								</when>
								<when test="searchCondition == 1 and searchKeyword !='' ">
					 				AND prod_name LIKE '%'||#{search.searchKeyword}||'%'
								</when>
								<when test="searchCondition == 2 and searchKeyword !='' ">
					 				AND price LIKE '%'||#{search.searchKeyword}||'%'
								</when>
							</choose>
						</if>
						</where>
						) countTable						
	</select>

	<!-- SQL : SELECT SALE ROW Count -->
	<select	id="getSaleTotalCount"	parameterType="com.teulda.common.Search"	resultType="int">
	  	SELECT COUNT(*)
	  	FROM	(SELECT	p.prod_no, prod_name, prod_detail, manufacture_day, 
						price, image_file, reg_date, tran_no, tran_status_code 
						FROM product p, transaction t
						<where>
						p.prod_no = t.prod_no
						<if test="searchCondition != null">
							<choose>
								<when test="searchCondition == 0 and searchKeyword !='' ">
									AND p.prod_no LIKE '%'||#{searchKeyword}||'%'
								</when>
								<when test="searchCondition == 1 and searchKeyword !='' ">
					 				AND LOWER(p.prod_name) LIKE '%'||#{searchKeyword}||'%'
								</when>
								<when test="searchCondition == 2 and searchKeyword !='' ">
					 				AND p.price LIKE '%'||#{searchKeyword}||'%'
								</when>
							</choose>
						</if>
						</where>
						) countTable						
	</select>

</mapper>