<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PostMapper">


	<resultMap id="postSelectMap" type="com.teulda.service.domain.Post">
		<result property="postNo"					column="post_id"			jdbcType="NUMERIC" />
		<result property="postTitle"				column="title"				jdbcType="VARCHAR" />
		<result property="postContents"				column="content"			jdbcType="VARCHAR" />
		<result property="postDate"					column="post_date"			jdbcType="DATE" />
		<result property="viewCount"				column="view_count"			jdbcType="NUMERIC" />
		<result property="nickName"					column="nickname"			jdbcType="VARCHAR" />
		<result property="postCategory"				column="post_type"			jdbcType="CHAR" />
	</resultMap>
	
	<resultMap id="commentSelectMap" type="com.teulda.service.domain.Comment">
		<result property="commentNo"				column="comment_id"			jdbcType="NUMERIC" />
		<result property="postNo"					column="post_id"			jdbcType="NUMERIC" />
		<result property="commentContents"			column="content"			jdbcType="VARCHAR" />
		<result property="commentDate"				column="comment_date"		jdbcType="DATE" />
		<result property="nickName"					column="nickname"			jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="photoSelectMap" type="com.teulda.common.Photo">
		<result property="photoNo"				column="photo_id"			jdbcType="NUMERIC" />
		<result property="postNo"				column="post_id"			jdbcType="NUMERIC" />
		<result property="photoName"			column="photo_name"			jdbcType="VARCHAR" />
	</resultMap>
	
	
	<!-- SQL : POST INSERT -->
	<insert	id="addPost"	parameterType="post" >
		INSERT
		INTO POST (post_id, nickname, title, content, post_date, view_count, post_type)
		VALUES	(seq_post_post_id.nextval, #{nickname}, #{postTitle:VARCHAR}, 
				#{postContents:VARCHAR}, SYSDATE, #{viewCount}, #{postCategory:CHAR})
	</insert>
	
	<insert id="addComment"	parameterType="comment">
		INSERT
		INTO COMMENT (comment_id, post_id, content)
		VALUES (seq_hashtag_hashtag_id.nextval,
									<if test="postNo == 0">
            						(SELECT post_id 
            						FROM
            						(SELECT * 
            						FROM post 
            						where origin_nick = #{nickname}
            						ORDER BY post_id DESC)
            						WHERE ROWNUM = 1),
									</if>
            						<if test="postNo != 0">
            						#{postNo},
            						</if>
        							#{commentName})
	</insert>
	
	<insert id="addPhoto"	parameterType="photo">
		INSERT
		INTO PHOTO (photo_id, post_id, photo_name)
		VALUES (seq_photo_photo_id.nextval, <if test="postNo == 0">
										(SELECT post_id 
                                    	FROM
                                    	(SELECT * 
                                    	FROM post 
                                    	where origin_nick = #{nickname}
                                    	ORDER BY post_id DESC)
                                   		WHERE ROWNUM = 1),
                                   		</if>
                                   		<if test="postNo != 0">
                                   		#{postNo},
            							</if>
        								#{photoName}
	
	</insert>
	 
	<!-- SQL : POST SELECT ONE -->
	<select	id="getPost"	parameterType="int"	resultMap="postSelectMap">
		SELECT
		*
		FROM post
		WHERE post_id = #{postNo}
	</select>
	
	<!-- SQL : POST UPDATE -->
	<update	id="updatePost"	parameterType="com.teulda.service.domain.Post" >
		UPDATE post
			<set>
				nickname		=#{nickname},
				title			=#{postTitle},
				content			=#{postContents},
				post_type		=#{postCategory}
			</set>
			WHERE post_id = #{postNo}
	</update>
	
	<!-- SQL : POST DELETE -->
	<delete id="deletePost"	parameterType="int">
	 	DELETE
	 	FROM post
	 	WHERE post_id = #{postNo}
	</delete>
	
	<!-- SQL : SELECT LIST -->
	<select  id="getCommentList"  parameterType="int"	resultMap="commentSelectMap">
		SELECT * 
		FROM COMMENT
		WHERE post_id = #{postNo}
	</select>
	
	<select  id="getPhotoList"  parameterType="int"	resultMap="photoSelectMap">
		SELECT * 
		FROM PHOTO
		WHERE post_id = #{postNo}
	</select> 
	
	<delete id="deleteCommentUsePostNo" parameterType="int">
		DELETE
		FROM COMMENT
		WHERE post_id  = #{postNo}
	</delete>
	
	<delete id="deletePhotoUsePostNo" parameterType="int">
		DELETE
		FROM PHOTO
		WHERE post_id  = #{postNo}
	</delete>
	
	<delete 	id="deleteComment"  parameterType="int" >
		DELETE
		FROM COMMENT
		WHERE comment_id = #{commentNo} 
	</delete>
	
	<!-- SQL : DELETE -->
	<delete 	id="deletePhoto"  parameterType="int" >
		DELETE
		FROM PHOTO
		WHERE photo_id = #{photoNo}
	</delete>
	

</mapper>