<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SearchNScrapMapper">


	<resultMap id="diarySelectMap" type="com.teulda.service.domain.Diary">
		<result property="diaryNo"				column="diary_id"			jdbcType="NUMERIC" />
		<result property="title"				column="title"				jdbcType="VARCHAR" />
		<result property="location"				column="diary_addr"			jdbcType="VARCHAR" />
		<result property="latitude"				column="latitude"			jdbcType="NUMERIC" />
		<result property="longitude"			column="longitude"			jdbcType="NUMERIC" />
		<result property="writeDate"			column="diary_date"			jdbcType="DATE" />
		<result property="updateDate"			column="last_update_date"	jdbcType="DATE" />
		<result property="nickname"				column="origin_nick"		jdbcType="VARCHAR" />
		<result property="startDate"			column="start_date"			jdbcType="VARCHAR" />
		<result property="endDate"				column="end_date"			jdbcType="VARCHAR" />
		<result property="content"				column="content"			jdbcType="LONGVARCHAR" />
		<result property="thumbnail"			column="thumbnail"			jdbcType="VARCHAR" />
		<result property="viewCount"			column="view_count"			jdbcType="NUMERIC" />
		<result property="deleteDate"			column="delete_date"		jdbcType="DATE" />
		<result property="scrapNickname"		column="scrap_nick"			jdbcType="VARCHAR" />
		<result property="scrapDate"			column="scrap_date"			jdbcType="DATE" />
		<result property="groupNo"				column="group_id"			jdbcType="NUMERIC" />
		<result property="currency"				column="currency"			jdbcType="VARCHAR" />
		<result property="transBill"			column="trans_bill"			jdbcType="NUMERIC" />
		<result property="roomBill"				column="room_bill"			jdbcType="NUMERIC" />
		<result property="foodBill"				column="food_bill"			jdbcType="NUMERIC" />
		<result property="tourBill"				column="tour_bill"			jdbcType="NUMERIC" />
		<result property="shopBill"				column="shop_bill"			jdbcType="NUMERIC" />
		<result property="isPublic"				column="is_public"			jdbcType="CHAR" />
	</resultMap>
	
	<resultMap id="hashTagSelectMap" type="com.teulda.service.domain.HashTag">
		<result property="hashTagNo"			column="hashtag_id"			jdbcType="NUMERIC" />
		<result property="diaryNo"				column="diary_id"			jdbcType="NUMERIC" />
		<result property="hashTagName"			column="hashtag_name"		jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="photoSelectMap" type="com.teulda.common.Photo">
		<result property="photoNo"				column="photo_id"			jdbcType="NUMERIC" />
		<result property="diaryNo"				column="diary_id"			jdbcType="NUMERIC" />
		<result property="photoName"			column="photo_name"			jdbcType="VARCHAR" />
		<result property="description"			column="description"		jdbcType="VARCHAR" />
		<result property="diaryPhotoType"		column="diary_photo_type"	jdbcType="CHAR" />
	</resultMap>
	
	<resultMap id="groupSelectMap" type="com.teulda.common.Group">
		<result property="groupNo"		column="group_id"		jdbcType="NUMERIC"/>
		<result	property="groupName"	column="group_name"		jdbcType="VARCHAR"/>
		<result	property="nickname"		column="nickname"		jdbcType="VARCHAR"/>
		<result	property="groupType"	column="group_type"		jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap id="subscribeSelectMap" type="com.teulda.service.domain.Subscribe">
		<result property="subscribeNo"			column="subscribe_id"		jdbcType="NUMERIC"/>
		<result	property="subNickname"			column="subscribe_nick"		jdbcType="VARCHAR"/>
		<result	property="subTargetNickname"	column="target_nick"		jdbcType="VARCHAR"/>
		<result	property="subscribeDate"		column="subscribe_date"		jdbcType="TIMESTAMP"/>
	</resultMap>
	
	
	<insert id="addScrap" parameterType="diary">
		INSERT
		INTO diary (diary_id, title, diary_addr, latitude, longitude, diary_date, 
					origin_nick, start_date, end_date, 
       		     	content, thumbnail, scrap_nick, scrap_date, group_id,
            		currency, trans_bill, room_bill, 
            		food_bill, tour_bill, shop_bill, is_public)
		VALUES ( seq_diary_diary_id.nextval, #{title}, #{location}, #{latitude}, 
				#{longitude}, #{writeDate}, #{nickname}, #{startDate}, 
				#{endDate}, #{content:LONGVARCHAR}, 
				#{thumbnail:VARCHAR},  #{scrapNickname}, SYSDATE, 
				(SELECT group_id
                 FROM groups	
                 WHERE nickname = #{scrapNickname} AND group_name = 'default3'),
        		#{currency:VARCHAR}, #{transBill:NUMERIC}, #{roomBill:NUMERIC}, 
        		#{foodBill:NUMERIC}, #{tourBill:NUMERIC}, #{shopBill:NUMERIC}, 'f')
	</insert>
	
	<!-- SQL : INSERT -->
	<insert 	id="addHashTag"		parameterType="hashTag">
		INSERT
		INTO HASHTAG (hashtag_id, diary_id, hashtag_name)
		VALUES (seq_hashtag_hashtag_id.nextval, 
					<if test="diaryNo == 1">
	            	(SELECT diary_id 
	            	FROM
	            	(SELECT * 
	            	FROM diary 
	            	where scrap_nick = #{nickname}
	            	ORDER BY diary_id DESC)
	            	WHERE ROWNUM = 1),
	            	</if>
	        	#{hashTagName})
	</insert>
	
	<!-- SQL : INSERT --> <!-- 추후 수정 -->
	<insert 	id="addPhoto"		parameterType="photo">
		INSERT
		INTO PHOTO (photo_id, diary_id, 
	            	photo_name, description, diary_photo_type)
		VALUES (seq_photo_photo_id.nextval, <if test="diaryNo == 1">
											(SELECT diary_id 
	                                    	FROM
	                                    	(SELECT * 
	                                    	FROM diary 
	                                    	where scrap_nick = #{nickname}
	                                    	ORDER BY diary_id DESC)
	                                   		WHERE ROWNUM = 1),
	                                   		</if>
	                                   		
	        	#{photoName}, #{description:VARCHAR}, #{diaryPhotoType})
	</insert>
	
	<insert id="addScrapGroup" parameterType="group">
		INSERT
		INTO groups(group_id, group_name, nickname, group_type)
		VALUES (seq_groups_group_id.nextval, #{groupName}, #{nickname}, '3')
	</insert>
	
	<!-- SQL : SELECT LIST -->
	<select  id="getScrapGroupList"  parameterType="String"	resultMap="groupSelectMap">
		SELECT group_id, group_name
		FROM groups
		WHERE nickname = #{nickname} and group_type = 3 
	</select> 
	
	
	<!-- SQL : SELECT LIST --> <!-- 추후 Search 조건 추가하기 -->
	<select  id="getScrapList"  parameterType="map"	resultMap="diarySelectMap">
	SELECT * 
	FROM 	(select inner_table.*, rownum as row_seq
        	from    (SELECT  diary_id, title, diary_addr, latitude, longitude, 
                	diary_date, start_date, end_date,
               		content, delete_date, thumbnail, group_id
                	FROM diary
                	<where>
               		scrap_nick = #{nickname}
               			<if test="isDelete == 'f'">
               			and delete_date is null
               			</if>
               			<if test="isDelete == 't'">
               			and delete_date is not null
               			</if>
               		</where>
               		<!-- 추후 정렬 조건 추가하기 -->
               		) inner_table
      		WHERE ROWNUM &lt; = #{search.endRowNum} )
	WHERE row_seq between #{search.startRowNum} and #{search.endRowNum}
	</select> 
	
	<!-- SQL : SELECT ROW Count -->	 
	<select  id="getScrapCount"  parameterType="map"	 resultType="int">
	SELECT COUNT(*)
	FROM    (SELECT  diary_id, title, diary_addr, latitude, longitude, 
                	 diary_date, start_date, end_date,
                	 content, delete_date, thumbnail, group_id
        	FROM diary
            <where>
            scrap_nick = #{nickname}
               	<if test="isDelete == 'f'">
               	and delete_date is null
               	</if>
               	<if test="isDelete == 't'">
               	and delete_date is not null
               	</if>
            </where>
            <!-- 추후 정렬 조건 추가하기 -->
       		) countTable
	</select>
	
	<update	id="updateScrapGroup"	parameterType="diary">
		UPDATE diary
		SET group_id = #{groupNo}
		WHERE diary_id = #{diaryNo}
	</update>
	
	
</mapper>